In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [12]:
data = {
    'area': [2600, 3000, 3200, 3600, 4000],
 'bedrooms': [3, 4,None,3, 5],
 'age':[20, 15,18, 30, 8],
 'price':[550000,565000,610000,595000,760000]
}
home_price = pd.DataFrame(data)
home_price

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [13]:
import math
median_bedrooms = math.floor(home_price.bedrooms.median())
median_bedrooms

3

In [15]:
home_price.bedrooms = home_price.bedrooms.fillna(median_bedrooms)

In [16]:
home_price

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [17]:
reg = linear_model.LinearRegression()
reg.fit(home_price[['area','bedrooms','age']],home_price.price)

LinearRegression()

In [18]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [22]:
reg.intercept_

383724.9999999998

In [21]:
reg.predict(np.array([[3000,3,40]]))

C:\Users\uppada satwik\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])